<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iumium.generalaffairs.dao.VehicleMapper">

	<!-- 차량 신청 리스트 -->
    <select id="selectVehicleList"  resultType="com.cafe24.iumium.generalaffairs.dto.VehicleDto">
		SELECT  ilban_vehicle.vehicle_number AS vehicleNumber
					,ilban_vehicle.vehicle_type AS vehicleType
					,ilban_vehicle.vehicle_purpose AS vehiclePurpose
					,ilban_vehicle.vehicle_approval_status AS vehicleApprovalStatus
					,ilban_vehicle.vehicle_registration_day AS vehicleRegistrationDay
					,haksa_department.dept_name_korean AS deptName
					,haksa_job_rank.job_rank_name_korean AS rankName
					,ilban_human.human_name AS humanName
		FROM ilban_vehicle INNER JOIN ilban_appointment
				 	ON ilban_vehicle.appointment_school_personnel_number = ilban_appointment.appointment_school_personnel_number
		INNER JOIN ilban_human
				 	ON ilban_vehicle.appointment_school_personnel_number = ilban_human.student_teacher_no
		INNER JOIN haksa_department
				 	ON ilban_appointment.dept_code = haksa_department.dept_code
		INNER JOIN haksa_job_rank
				 	ON ilban_appointment.rank_code = haksa_job_rank.job_rank_code
		ORDER BY ilban_vehicle.vehicle_registration_day DESC
    </select>
    
</mapper>